socle/src/test/resources/fr/argus/socle/util/xmlChema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pagepublication" type="pagepublicationType"/>
  <xs:complexType name="flunumType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="fln_activation_edition"/>
        <xs:attribute type="xs:string" name="fln_date_creation_argus"/>
        <xs:attribute type="xs:string" name="fln_edition"/>
        <xs:attribute type="xs:string" name="fln_fichier_source"/>
        <xs:attribute type="xs:string" name="fln_fil"/>
        <xs:attribute type="xs:string" name="fln_groupe_editeur"/>
        <xs:attribute type="xs:long" name="fln_id_publication"/>
        <xs:attribute type="xs:string" name="fln_lotarticle"/>
        <xs:attribute type="xs:byte" name="fln_num_page"/>
        <xs:attribute type="xs:string" name="fln_provenance"/>
        <xs:attribute type="xs:string" name="fln_sceau"/>
        <xs:attribute type="xs:string" name="fln_titre"/>
        <xs:attribute type="xs:string" name="fln_url_pdf"/>
        <xs:attribute type="xs:string" name="fln_url_pdf_bool"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="identificationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:long" name="id_publication"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="source_magazineType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="smg_date_parution"/>
        <xs:attribute type="xs:string" name="smg_express"/>
        <xs:attribute type="xs:string" name="smg_fichier_source"/>
        <xs:attribute type="xs:byte" name="smg_nb_articles"/>
        <xs:attribute type="xs:byte" name="smg_nb_pages"/>
        <xs:attribute type="xs:string" name="smg_priorite"/>
        <xs:attribute type="xs:string" name="smg_provenance"/>
        <xs:attribute type="xs:string" name="smg_titre"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="info_extractionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="xtrac_duree"/>
        <xs:attribute type="xs:string" name="xtrac_heure_debut"/>
        <xs:attribute type="xs:string" name="xtrac_valide"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="extractionType">
    <xs:sequence>
      <xs:element type="info_extractionType" name="info_extraction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="info_verificationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="vrif_duree"/>
        <xs:attribute type="xs:string" name="vrif_heure_debut"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="verificationType">
    <xs:sequence>
      <xs:element type="info_verificationType" name="info_verification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="info_impression_publicationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="ipb_duree"/>
        <xs:attribute type="xs:string" name="ipb_heure_debut"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="impression_publicationType">
    <xs:sequence>
      <xs:element type="info_impression_publicationType" name="info_impression_publication"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="info_generation_imgType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="img_dure"/>
        <xs:attribute type="xs:string" name="img_heure_debut"/>
        <xs:attribute type="xs:string" name="img_nom_plateau"/>
        <xs:attribute type="xs:string" name="img_process"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="generation_imgType">
    <xs:sequence>
      <xs:element type="info_generation_imgType" name="info_generation_img"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ensembleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ens_etrangere"/>
        <xs:attribute type="xs:string" name="ens_express"/>
        <xs:attribute type="xs:string" name="ens_normale"/>
        <xs:attribute type="xs:string" name="ens_sectorielle"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="magazineType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="mag_adresse1"/>
        <xs:attribute type="xs:string" name="mag_adresse2"/>
        <xs:attribute type="xs:string" name="mag_code_postal"/>
        <xs:attribute type="xs:string" name="mag_couleur"/>
        <xs:attribute type="xs:string" name="mag_crop_page"/>
        <xs:attribute type="xs:date" name="mag_date_cfc"/>
        <xs:attribute type="xs:string" name="mag_date_faciale"/>
        <xs:attribute type="xs:string" name="mag_date_pointage"/>
        <xs:attribute type="xs:string" name="mag_double_lecture"/>
        <xs:attribute type="xs:string" name="mag_ens_etrangere"/>
        <xs:attribute type="xs:string" name="mag_ens_express"/>
        <xs:attribute type="xs:string" name="mag_ens_normale"/>
        <xs:attribute type="xs:string" name="mag_ens_sectorielle"/>
        <xs:attribute type="xs:string" name="mag_floute_dose"/>
        <xs:attribute type="xs:int" name="mag_id_magazine"/>
        <xs:attribute type="xs:long" name="mag_id_ocr"/>
        <xs:attribute type="xs:int" name="mag_id_pointage"/>
        <xs:attribute type="xs:string" name="mag_infographie_cfc"/>
        <xs:attribute type="xs:string" name="mag_langue"/>
        <xs:attribute type="xs:string" name="mag_li_notes_ptn"/>
        <xs:attribute type="xs:string" name="mag_li_notes_rouge"/>
        <xs:attribute type="xs:byte" name="mag_nb_unite"/>
        <xs:attribute type="xs:string" name="mag_no_copy"/>
        <xs:attribute type="xs:string" name="mag_no_reassort"/>
        <xs:attribute type="xs:string" name="mag_nom_argus"/>
        <xs:attribute type="xs:string" name="mag_nom_ensemble"/>
        <xs:attribute type="xs:string" name="mag_nom_magazine"/>
        <xs:attribute type="xs:string" name="mag_numero_page"/>
        <xs:attribute type="xs:int" name="mag_ojd"/>
        <xs:attribute type="xs:string" name="mag_papier_disponible"/>
        <xs:attribute type="xs:string" name="mag_periodicite"/>
        <xs:attribute type="xs:string" name="mag_photos_cfc"/>
        <xs:attribute type="xs:string" name="mag_priorite_scan"/>
        <xs:attribute type="xs:byte" name="mag_prix_cfc"/>
        <xs:attribute type="xs:string" name="mag_rescan"/>
        <xs:attribute type="xs:string" name="mag_scan_allow"/>
        <xs:attribute type="xs:string" name="mag_telephone"/>
        <xs:attribute type="xs:byte" name="mag_traitement_id"/>
        <xs:attribute type="xs:string" name="mag_traitement_lib"/>
        <xs:attribute type="xs:string" name="mag_type_papier"/>
        <xs:attribute type="xs:string" name="mag_url_dans_pdf"/>
        <xs:attribute type="xs:string" name="mag_vignette_couverture"/>
        <xs:attribute type="xs:string" name="mag_vignette_emplacement_article"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="info_pointageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ptg_heure_debut"/>
        <xs:attribute type="xs:string" name="ptg_nom"/>
        <xs:attribute type="xs:string" name="ptg_utilisateur"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="pointageType">
    <xs:sequence>
      <xs:element type="info_pointageType" name="info_pointage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instructions_ocrType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ocr_chaine_sortie"/>
        <xs:attribute type="xs:byte" name="ocr_compression_sortie_nb"/>
        <xs:attribute type="xs:byte" name="ocr_compression_sortie_traite"/>
        <xs:attribute type="xs:byte" name="ocr_compression_sortie_vignette"/>
        <xs:attribute type="xs:short" name="ocr_dpi_sortie_nb"/>
        <xs:attribute type="xs:short" name="ocr_dpi_sortie_traite"/>
        <xs:attribute type="xs:short" name="ocr_dpi_sortie_vignette"/>
        <xs:attribute type="xs:string" name="ocr_generation_pdf"/>
        <xs:attribute type="xs:string" name="ocr_instructions_profileur"/>
        <xs:attribute type="xs:string" name="ocr_langue"/>
        <xs:attribute type="xs:string" name="ocr_machine_cible"/>
        <xs:attribute type="xs:string" name="ocr_recollage"/>
        <xs:attribute type="xs:string" name="ocr_recoupement"/>
        <xs:attribute type="xs:string" name="ocr_repertoire_sortie"/>
        <xs:attribute type="xs:byte" name="ocr_rotation"/>
        <xs:attribute type="xs:string" name="ocr_sortie_nb"/>
        <xs:attribute type="xs:string" name="ocr_sortie_pos"/>
        <xs:attribute type="xs:string" name="ocr_sortie_source"/>
        <xs:attribute type="xs:string" name="ocr_sortie_texte_cesure"/>
        <xs:attribute type="xs:string" name="ocr_sortie_texte_sans_cesure"/>
        <xs:attribute type="xs:string" name="ocr_sortie_traite"/>
        <xs:attribute type="xs:string" name="ocr_sortie_vignette"/>
        <xs:attribute type="xs:string" name="ocr_taille_sortie_vignette"/>
        <xs:attribute type="xs:short" name="ocr_timeout_traitement"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="info_scanType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="scn_couleur"/>
        <xs:attribute type="xs:string" name="scn_mode_remise"/>
        <xs:attribute type="xs:byte" name="scn_nb_pages_publication"/>
        <xs:attribute type="xs:string" name="scn_nom_scanner"/>
        <xs:attribute type="xs:byte" name="scn_numero_page"/>
        <xs:attribute type="xs:short" name="scn_resolution"/>
        <xs:attribute type="xs:string" name="scn_utilisateur"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="pageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="scn_heure"/>
        <xs:attribute type="xs:string" name="scn_id"/>
        <xs:attribute type="xs:string" name="scn_taille_pixels"/>
        <xs:attribute type="xs:byte" name="scn_tps_de_scan"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="scanType">
    <xs:sequence>
      <xs:element type="info_scanType" name="info_scan"/>
      <xs:element type="pageType" name="page"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagepublicationType">
    <xs:sequence>
      <xs:element type="flunumType" name="flunum"/>
      <xs:element type="xs:string" name="type_UD"/>
      <xs:element type="xs:string" name="erreur_sceau"/>
      <xs:element type="identificationType" name="identification"/>
      <xs:element type="source_magazineType" name="source_magazine"/>
      <xs:element type="extractionType" name="extraction"/>
      <xs:element type="verificationType" name="verification"/>
      <xs:element type="impression_publicationType" name="impression_publication"/>
      <xs:element type="generation_imgType" name="generation_img"/>
      <xs:element type="xs:string" name="instructions"/>
      <xs:element type="ensembleType" name="ensemble"/>
      <xs:element type="magazineType" name="magazine"/>
      <xs:element type="pointageType" name="pointage"/>
      <xs:element type="instructions_ocrType" name="instructions_ocr"/>
      <xs:element type="scanType" name="scan"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>